<!DoctypeHTML>
<head>
	<meta charset="utf-8" />
	{% block lien %}
    	<link rel="stylesheet" href="../www/css/main.css" />
    {% endblock %}
	{% block head %}
	{% endblock %}
	<title>
		{% block title %}
		{% endblock %}
	</title>
</head>
<html>
	<body>
	{% block h1 %}
	{% endblock %}
	{% block content %}
	{% endblock %}
	</body>
	<footer>
		Copyright - 2017 | Laisné, Moulin, Tartreau
	</footer>
</html>